resources:
  - type: compute.v1.network
    name: network-1
    properties:
     autoCreateSubnetworks: false
  - name: subnet-a
    type: compute.v1.subnetwork
    properties:   
        ipCidrRange: 10.0.1.0/24
        network: $(ref.network-1.selfLink)
        privateIpGoogleAccess: false
        region: us-central1
  - name: subnet-b
    type: compute.v1.subnetwork
    properties:   
        ipCidrRange: 10.0.2.0/24
        network: $(ref.network-1.selfLink)
        privateIpGoogleAccess: false
        region: us-east1
